<div class="">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> Admission </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>

                    <input type="hidden" name="id" [(ngModel)]="form.id" #id="ngModel"> 
                    <h2 *ngIf="isEdit" style="color: orangered;"><b>Edit Mode</b></h2>

                    <div class="row">
                        <!-- <div class="col-md-12"> -->

                            <!-- <div class="form-group row">
                                <label id="name-label" class="col-md-2 col-sm-2 col-form-label">IPD No</label>
                                <input type="text" class="form-control col-md-4 col-sm-4"  name="ipdNo" [(ngModel)]="form.ipdNo"  #ipdNo="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && ipdNo.invalid">
                                    Required Field !
                                </div>
        
                                <label id="name-label" class="col-md-2 col-sm-2 col-form-label">BED No</label>
                                <input type="text" class="form-control col-md-4 col-sm-4"  name="bedNo" [(ngModel)]="form.bedNo"  #bedNo="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && bedNo.invalid">
                                    Required Field !
                                </div>
                            </div> -->

                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">IPD No </label>
                                <input type="text" class="form-control" name="ipdno" [(ngModel)]="form.ipdno" disabled  #ipdno="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && ipdno.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">BED No </label>
                                <select class="form-control" [(ngModel)]="form.bedno" [ngModelOptions]="{standalone: true}" [disabled]="isEdit" (change)="getClass()" required  #bedno="ngModel" name="bedno">
                                    <option *ngFor="let b of BedList" [ngValue]="b.bedno" style="color: black;">
                                        {{b.bedno}} | {{b.wardname}} | {{b.roomType}}
                                    </option>
                                </select>
                                <div class="text-danger" role="alert" *ngIf="f.submitted && bedno.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">UHID </label>
                                <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid" (focusout)="getPatientDetails(this.form.uhid)" required placeholder="Enter For Search"  #uhid="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                    Required Field !
                                </div>
                                <div *ngIf="spinner" class="spinner-border text-primary" role="status"> <span class="sr-only">Loading...</span> 
                                </div>
                            </div>

                            
                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">Class </label>
                                <input type="text" class="form-control" name="class" [(ngModel)]="form.class" disabled #class="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && class.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">Ward Name </label>
                                <input type="text" class="form-control" name="wardname" [(ngModel)]="form.wardname" disabled #wardname="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && wardname.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">Patient Name </label>
                                <!-- <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required #name="ngModel" /> -->
                                <ng-select [(ngModel)]="form.name" name="name" #name="ngModel" [ngModelOptions]="{standalone: true}" [dropdownPosition]="'down'" [virtualScroll]="true" placeholder="Type to search" (focusout)="getPatientDetails(this.form.name)" required>
                                    <ng-option *ngFor="let o of PatientDetails" [value]="o.uhid">
                                        {{o.name}} | <b style="color: red;">{{o.uhid}}</b>
                                    </ng-option>
                                </ng-select>
                                <div class="text-danger" role="alert" *ngIf="f.submitted && name.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">Date </label>
                                <input type="date" class="form-control" name="date" [(ngModel)]="form.date" required #date="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-4">
                                <label for="name">Admitted Time </label>
                                <input type="time" class="form-control" name="time" [(ngModel)]="form.time" required #time="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && time.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">User </label>
                                <input type="text" class="form-control" name="userName" [(ngModel)]="form.userName" disabled #userName="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && userName.invalid">
                                    Required Field !
                                </div>
                            </div>
        
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Organization Name </label>
                                <select class="form-control" [(ngModel)]="form.organization" [ngModelOptions]="{standalone: true}" #organization="ngModel" name="organization">
                                    <option *ngFor="let o of OrganizationList" [ngValue]="o.id" style="color: black;">
                                        {{o.organization}}
                                    </option>
                                </select>
                                <div class="text-danger" role="alert" *ngIf="f.submitted && organization.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Sex </label>
                                <select class="form-control" name="sex" [(ngModel)]="form.sex" #sex="ngModel">
                                    <option value="MALE">MALE</option>
                                    <option value="FEMALE">FEMALE</option>
                                    <option value="HERMAPHRODITE">HERMAPHRODITE</option>
                                    <option value="ENANCH">ENANCH</option>
                                </select>
                                <div class="text-danger" role="alert" *ngIf="f.submitted && sex.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Age </label>
                                <input type="text" class="form-control" name="age" [(ngModel)]="form.age"  #age="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && age.invalid">
                                    Required Field !
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="row">
                        <div class="card card-body">
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Ref By 1 </label>
                                    <ng-select [(ngModel)]="form.refBy1" name="refBy1" #refBy1="ngModel" [ngModelOptions]="{standalone: true}" [dropdownPosition]="'down'" [virtualScroll]="true" placeholder="Type to search">
                                        <ng-option *ngFor="let o of DoctorReferenceList" [value]="o.id">
                                            {{o.name}}
                                        </ng-option>
                                    </ng-select>
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && refBy1.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Ref By 2 </label>
                                    <ng-select [(ngModel)]="form.refBy2" name="refBy2" #refBy2="ngModel" [ngModelOptions]="{standalone: true}" [dropdownPosition]="'down'" [virtualScroll]="true" placeholder="Type to search">
                                        <ng-option *ngFor="let o of DoctorReferenceList" [value]="o.id">
                                            {{o.name}}
                                        </ng-option>
                                    </ng-select>
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && refBy2.invalid">
                                        Required Field !
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Consultant 1 </label>
                                    <ng-select [(ngModel)]="form.consultant1" name="consultant1" #consultant1="ngModel" [ngModelOptions]="{standalone: true}" [dropdownPosition]="'down'" [virtualScroll]="true" placeholder="Type to search">
                                        <ng-option *ngFor="let o of ConsultantList" [value]="o.id">
                                            {{o.name}}
                                        </ng-option>
                                    </ng-select>
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && consultant1.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Consultant 2 </label>
                                    <ng-select  [(ngModel)]="form.consultant2" name="consultant2" #consultant2="ngModel" [ngModelOptions]="{standalone: true}" [dropdownPosition]="'down'" [virtualScroll]="true" placeholder="Type to search">
                                        <ng-option *ngFor="let o of ConsultantList" [value]="o.id" >
                                            {{o.name}}
                                        </ng-option>
                                    </ng-select>
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && consultant2.invalid">
                                        Required Field !
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card card-body overflow-auto">
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Admitted DEPT </label>
                                        <select class="form-control" name="admitteddept" [(ngModel)]="form.admitteddept" required #admitteddept="ngModel">
                                            <option selected="selected" value="IPD">IPD</option>
                                        </select>
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && admitteddept.invalid">
                                        Required Field !
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Patient Type </label>
                                    <select class="form-control" name="patientType" [(ngModel)]="form.patientType" required #patientType="ngModel">
                                        <option value="Hospital Patient" selected="selected">Hospital Patient</option>
                                        <option value="Dr. Patient">Dr. Patient</option>
                                    </select>
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && patientType.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Witness Name 1 </label>
                                    <input type="text" class="form-control" name="witness1" [(ngModel)]="form.witness1" required #witness1="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && witness1.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Witness Name 2 </label>
                                    <input type="text" class="form-control" name="witness2" [(ngModel)]="form.witness2"  #witness2="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && witness2.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Contact No 1 </label>
                                    <input type="text" class="form-control" name="contact1" [(ngModel)]="form.contact1"  #contact1="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && contact1.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Contact No 2 </label>
                                    <input type="text" class="form-control" name="contact2" [(ngModel)]="form.contact2"  #contact2="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && contact2.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Type Of Payment </label>
                                    <select class="form-control" name="typeofPayment" [(ngModel)]="form.typeofPayment" #typeofPayment="ngModel">
                                        <option value="PACKAGE">PACKAGE</option>
                                        <option value="NON-PACKAGE">NON-PACKAGE</option>
                                    </select>
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && typeofPayment.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Type Of Patient </label>
                                    <div class="form-group row">
                                        <div class="form-check col-md-4">
                                          <input class="form-check-input" type="radio" value="Direct" (change)="insurenceShowHide()" name="typeofPatient" [(ngModel)]="form.typeofPatient" #typeofPatient="ngModel">
                                          <label class="form-check-label">Direct</label>
                                        </div>
                                        <div class="form-check col-md-4">
                                          <input class="form-check-input" type="radio" value="Insurence" (change)="insurenceShowHide()" name="typeofPatient" [(ngModel)]="form.typeofPatient" #typeofPatient="ngModel">
                                          <label class="form-check-label">Insurence</label>
                                        </div>
                                      </div>
                                </div>


                                <div class="row" *ngIf="isInsurence">
                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">Insurance Company </label>
                                        <!-- <input type="text" class="form-control" name="insuranceCom" [(ngModel)]="form.insuranceCom"  #insuranceCompany="ngModel" /> -->
                                        <select class="form-control" [(ngModel)]="form.insuranceCom" [ngModelOptions]="{standalone: true}" #insuranceCom="ngModel" name="insuranceCom">
                                            <option *ngFor="let o of InsuranceComList" [ngValue]="o.insuranceCompany" style="color: black;">
                                                {{o.insuranceCompany}}
                                            </option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && insuranceCom.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3">
                                        <div class="form-group row">
                                            <div class="form-check col-md-4">
                                            <input class="form-check-input" type="radio" value="INCLUSIVE" name="inc_Ex" [(ngModel)]="form.inc_Ex"  #inc_Ex="ngModel" checked="">
                                            <label class="form-check-label">INCLUSIVE</label>
                                            </div>
                                            <div class="form-check col-md-4">
                                            <input class="form-check-input" type="radio" value="EXCLUSIVE" name="inc_Ex" [(ngModel)]="form.inc_Ex"  #inc_Ex="ngModel">
                                            <label class="form-check-label">EXCLUSIVE</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">TPA Name </label>
                                        <input type="text" class="form-control" name="tpaname" [(ngModel)]="form.tpaname"  #tpaname="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && tpaname.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">Claim No </label>
                                        <input type="text" class="form-control" name="claimno" [(ngModel)]="form.claimno"  #claimno="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && claimNo.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">Policy No </label>
                                        <input type="text" class="form-control" name="policyno" [(ngModel)]="form.policyno"  #policyno="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && policyno.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group col-md-3 col-sm-3">
                                    <button> Cashless Authorization </button>
                                </div> -->
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="card card-body overflow-auto">
                            <div class="form-group row">
                                <button type="button" class="btn btn-info mt-1" (click)="onNew()">&nbsp; New &nbsp;</button> &nbsp;
                                <button class="btn btn-info mt-1" type="submit">Save:F1</button> &nbsp;
                                <button type="button" class="btn btn-warning mt-1" routerLink="/account-entry-receipt" [queryParams]="{search: ipdEdit}">Advanced <i class="fa fa-share-square"></i></button> &nbsp;
                                <button type="button" class="btn btn-warning mt-1"  routerLink="/ipd-bill-bill_detail_sheet">Bill Detail Sheet <i class="fa fa-share-square"></i></button> &nbsp;
                                <button type="button" class="btn btn-warning mt-1"  routerLink="/ipd-bed-bed_shifting">Shifting <i class="fa fa-share-square"></i></button> &nbsp;
                                <button type="button" class="btn btn-danger mt-1" (click)="getPdf(this.form.id,'PrintIPDCaseRecord')">Print IPD Case Record <i class="fa fa-download"></i></button> &nbsp;
                                <button type="button" class="btn btn-danger mt-1" (click)="getPdf(this.form.id,'ExportIPDLable')">IPD Lable <i class="fa fa-download"></i></button> &nbsp;
                                <button type="button" class="btn btn-danger mt-1" (click)="getPdf(this.form.id,'PrintGatePass')">Print GatePass <i class="fa fa-download"></i></button> &nbsp;
                                <button type="button" class="btn btn-danger mt-1" (click)="getPdf(this.form.id,'IPDCaseRecordLable')">IPD Case Record Lable <i class="fa fa-download"></i></button> &nbsp;
                                <button type="button" class="btn btn-danger mt-1" (click)="getPdf(this.form.id,'ExportIPDLable')">Export IPD Lable <i class="fa fa-download"></i></button> &nbsp;
                            </div>
                        </div>
                    </div>

                </form>

               
                <div class="row">
                    <div class="card card-body overflow-auto">
                        <div class="form-group row">

                            <!-- <div class="form-group col-md-3 col-sm-3">
                                <label for="name">IPD No </label>
                                <input type="text" class="form-control" name="ipdNo" [(ngModel)]="form.ipdNo"  #ipdNo="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && ipdNo.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">UHID </label>
                                <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Patient Name </label>
                                <input type="text" class="form-control" name="patientName" [(ngModel)]="form.patientName"  #patientName="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && patientName.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Date </label>
                                <input type="date" class="form-control" name="date" [(ngModel)]="form.date"  #date="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Bed No </label>
                                <input type="text" class="form-control" name="bedNo" [(ngModel)]="form.bedNo"  #bedNo="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && bedNo.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Organization </label>
                                <input type="text" class="form-control" name="organization" [(ngModel)]="form.organization"  #organization="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && organization.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Group </label>
                                <input type="text" class="form-control" name="group" [(ngModel)]="form.group"  #group="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && group.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <button type="button" class="btn btn-info mt-1">Show All</button> 
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <button type="button" class="btn btn-info mt-1">Clear Selection</button>
                            </div> -->

                            <div class="form-group col-md-12 col-sm-12">
                                <div class="row">
                                    
                                    <div class="form-group col-md-1 col-sm-1">
                                        <button type="button" class="btn btn-info mt-1" (click)="onTable(0)">Today</button>
                                    </div> 
                                    <div class="form-group col-md-1 col-sm-1">
                                        <button type="button" class="btn btn-info mt-1" (click)="onTable(1)">Show All</button>
                                    </div> 
                                    <div class="form-group col-md-3 col-sm-3">
                                        <div class="input-group mt-1">
                                            <input type="date" class="form-control"  name="getByDate" [(ngModel)]="form.getByDate" #getByDate="ngModel" >
                                            <span class="input-group-append">
                                              <button type="button" class="btn btn-info" (click)="onTable(2)">Get</button>
                                            </span>
                                          </div>
                                    </div>


                                    <div class="table-responsive">
                                        <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                        <table id="customTable" datatable class="table  table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Edit</th>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>UHID</th>
                                                    <th>PIDNO</th>
                                                    <th>BEDNO</th>
                                                    <th>CPRFNO</th>
                                                    <th>GROUP</th>
                                                    <th>AGE</th>
                                                    <th>SEX</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of table_data">
                                                    <td>
                                                        <span class="float-right">
                                                            <button id="edit" type="button" (click)="onEdit(item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                            <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </td>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.date}}</td>
                                                    <td>{{item.time}}</td>
                                                    <td>{{item.uhid}}</td>
                                                    <td>{{item.ipdno}}</td>
                                                    <td>{{item.bedno}}</td>
                                                    <td>{{item.cpfno}}</td>
                                                    <td>{{item.group}}</td>
                                                    <td>{{item.age}}</td>
                                                    <td>{{item.sex}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
