<div class="">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> Bed Shifting </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="row">


                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Date</label>
                            <input type="text" class="form-control" name="date" [(ngModel)]="form.date" #date="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">UHID</label>
                            <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid" #uhid="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">IPD No</label>
                            <input type="text" class="form-control" name="ipdNo" [(ngModel)]="form.ipdNo" #ipdNo="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && ipdNo.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Patient Name</label>
                            <input type="text" class="form-control" name="patientName" [(ngModel)]="form.patientName" #patientName="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && patientName.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Previous Bed No</label>
                            <input type="text" class="form-control" name="previousBedNo" [(ngModel)]="form.previousBedNo" #previousBedNo="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && previousBedNo.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Shifted Bed No</label>
                            <input type="text" class="form-control" name="shiftedBedNo" [(ngModel)]="form.shiftedBedNo" #shiftedBedNo="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && shiftedBedNo.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Shifting Date</label>
                            <input type="date" class="form-control" name="shiftingDate" [(ngModel)]="form.shiftingDate" #shiftingDate="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && shiftingDate.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Shifting Time</label>
                            <input type="time" class="form-control" name="shiftingTime" [(ngModel)]="form.shiftingTime" #shiftingTime="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && shiftingTime.invalid">
                                Required Field !
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12">
                            <button type="button" class="btn btn-info mt-1">New</button>&nbsp;
                            <button type="submit" class="btn btn-info mt-1">Save:F1</button>&nbsp;
                            
                            <button type="button" class="btn btn-info mt-1">Bill Detail Sheet</button>&nbsp;
                        </div>

                    </div>
                    <div class="row">
                        <div class="card card-body overflow-auto">
                            <div class="row">

                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="name">Shifted Bed No</label>
                                    <input type="text" class="form-control" name="shiftedBedNo" [(ngModel)]="form.shiftedBedNo" #shiftedBedNo="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && shiftedBedNo.invalid">
                                        Required Field !
                                    </div>
                                </div>

                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="name">Patient Name</label>
                                    <input type="text" class="form-control" name="patientName" [(ngModel)]="form.patientName" #patientName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && patientName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="name">UHID</label>
                                    <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid" #uhid="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="name">Date</label>
                                    <input type="text" class="form-control" name="date" [(ngModel)]="form.date" #date="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-sm-2">
                                    <button class="btn btn-info">Show All</button>
                                </div>
                                <div class="form-group col-md-2 col-sm-2">
                                    <button class="btn btn-info">Clear Selection</button>
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                            <table id="customTable" datatable class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Edit</th>
                                                        <th>Admission Date</th>
                                                        <th>UHID</th>
                                                        <th>IPD No</th>
                                                        <th>Patient Name</th>
                                                        <th>Previous Bed No</th>
                                                        <th>Shifted Bed No</th>
                                                        <th>Shifting Date</th>
                                                        <th>Shifting Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr  *ngIf="isTableLoad">
                                                        <td *ngIf="table_data?.length == 0" colspan="6" class="no-data-available"><b>No Data, Please Click Load Button!</b></td>
                                                    </tr>  -->
                                                    <!-- <tr *ngFor="let item of table_data">
                                                        <td>{{item.wardNumber}}</td>
                                                        <td>{{item.receiptNumber}}</td>
                                                        <td>{{item.propertyNumber}}/{{item.propertyNumber1}}</td>
                                                        <td>{{item.date}}</td>
                                                        <td>{{item.taxPayerName}}</td>
                                                        <td>
                                                            <span class="float-right">
                                                                <button id="edit" type="button" (click)="openModal(editModal, item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                                <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger" *ngIf="!isUserRole"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>



                </form>




                <!-- <div class="row"> -->
                <!-- <div class="card card-body overflow-auto"> -->


                <div class="form-group row">

                    <div class="form-group col-md-6 col-sm-6">

                        <div class="card card-body overflow-auto">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <H4>Admitted Patient Details</H4>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">IPD No</label>
                                    <input type="text" class="form-control" name="ipdNo" [(ngModel)]="form.ipdNo" #ipdNo="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && ipdNo.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Patient Name</label>
                                    <input type="text" class="form-control" name="patientName" [(ngModel)]="form.patientName" #patientName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && patientName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Bed No</label>
                                    <input type="text" class="form-control" name="bedNo" [(ngModel)]="form.bedNo" #bedNo="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && bedNo.invalid">
                                        Required Field !
                                    </div>
                                </div>


                                <div class="form-group col-md-3 col-sm-3">
                                    <button type="button" class="btn btn-info mt-1">Show All</button>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <button type="button" class="btn btn-info mt-1">Clear Selection</button>
                                </div>

                                <div class="row">
                                    <div class="table-responsive">
                                        <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                        <table id="customTable" datatable class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Bed No</th>
                                                    <th>UHID</th>
                                                    <th>Patient Name</th>
                                                    <th>Admission Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr  *ngIf="isTableLoad">
                                                    <td *ngIf="table_data?.length == 0" colspan="6" class="no-data-available"><b>No Data, Please Click Load Button!</b></td>
                                                </tr>  -->
                                                <!-- <tr *ngFor="let item of table_data">
                                                    <td>{{item.wardNumber}}</td>
                                                    <td>{{item.receiptNumber}}</td>
                                                    <td>{{item.propertyNumber}}/{{item.propertyNumber1}}</td>
                                                    <td>{{item.date}}</td>
                                                    <td>{{item.taxPayerName}}</td>
                                                    <td>
                                                        <span class="float-right">
                                                            <button id="edit" type="button" (click)="openModal(editModal, item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                            <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger" *ngIf="!isUserRole"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="form-group col-md-6 col-sm-6">

                        <div class="card card-body overflow-auto">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <H4>Bed Details</H4>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Bed No</label>
                                    <input type="text" class="form-control" name="bedNo" [(ngModel)]="form.bedNo" #bedNo="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && bedNo.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Class Name</label>
                                    <input type="text" class="form-control" name="className" [(ngModel)]="form.className" #className="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && className.invalid">
                                        Required Field !
                                    </div>
                                </div>


                                <div class="form-group col-md-3 col-sm-3">
                                    <button type="button" class="btn btn-info mt-1">Show All</button>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <button type="button" class="btn btn-info mt-1">Clear Selection</button>
                                </div>

                                <div class="row">
                                    <div class="table-responsive">
                                        <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                        <table id="customTable" datatable class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Class Name</th>
                                                    <th>Bed No</th>
                                                    <th>UHID</th>
                                                    <th>Romm Type</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr  *ngIf="isTableLoad">
                                                    <td *ngIf="table_data?.length == 0" colspan="6" class="no-data-available"><b>No Data, Please Click Load Button!</b></td>
                                                </tr>  -->
                                                <!-- <tr *ngFor="let item of table_data">
                                                    <td>{{item.wardNumber}}</td>
                                                    <td>{{item.receiptNumber}}</td>
                                                    <td>{{item.propertyNumber}}/{{item.propertyNumber1}}</td>
                                                    <td>{{item.date}}</td>
                                                    <td>{{item.taxPayerName}}</td>
                                                    <td>
                                                        <span class="float-right">
                                                            <button id="edit" type="button" (click)="openModal(editModal, item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                            <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger" *ngIf="!isUserRole"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <!-- </div> -->
                <!-- </div> -->

            </div>
        </div>
    </div>
</div>
