<div class="">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> OPD Package Master  </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    
                    
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-body overflow-auto">
                                <div class="form-group row">
                                    
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Package Name</label>
                                    <input type="text" class="form-control" name="packageName" [(ngModel)]="form.packageName"  #packageName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && packageName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Package Amount</label>
                                    <input type="text" class="form-control" name="packageAmount" [(ngModel)]="form.packageAmount"  #packageAmount="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && packageAmount.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Organization Name</label>
                                    <input type="text" class="form-control" name="organizationName" [(ngModel)]="form.organizationName"  #organizationName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && organizationName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Active Yes/No</label>
                                    <input type="text" class="form-control" name="active" [(ngModel)]="form.active"  #active="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && active.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-body overflow-auto">
                                <div class="form-group row">
                                    
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Particulars</label>
                                    <input type="text" class="form-control" name="particulars" [(ngModel)]="form.particulars"  #particulars="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && particulars.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Qty</label>
                                    <input type="text" class="form-control" name="qty" [(ngModel)]="form.qty"  #qty="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && qty.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Rate</label>
                                    <input type="text" class="form-control" name="rate" [(ngModel)]="form.rate"  #rate="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && rate.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Amount</label>
                                    <input type="text" class="form-control" name="amount" [(ngModel)]="form.amount"  #amount="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && amount.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <button class="btn btn-success">+</button>
                                </div>

                                <div class="form-group col-md-12 col-sm-12" style="background: antiquewhite; height: 230px;">
                                
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Total</label>
                                    <input type="text" class="form-control" name="total" [(ngModel)]="form.total"  #total="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && total.invalid">
                                        Required Field !
                                    </div>
                                </div>

                                <div class="form-group col-md-4 col-sm-4">
                                    <button class="btn btn-info mt-1">New</button>&nbsp;
                                    <button class="btn btn-info mt-1">Save :F1</button>&nbsp;
                                </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="card card-body overflow-auto">
                                <div class="form-group row">
                               
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Package Name</label>
                                    <input type="text" class="form-control" name="packageName" [(ngModel)]="form.packageName"  #packageName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && packageName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Organization Name</label>
                                    <input type="text" class="form-control" name="organizationName" [(ngModel)]="form.organizationName"  #organizationName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && organizationName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Active Yes/No</label>
                                    <input type="text" class="form-control" name="active" [(ngModel)]="form.active"  #active="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && active.invalid">
                                        Required Field !
                                    </div>
                                </div>

                                <div class="form-group col-md-4 col-sm-4">
                                    <button class="btn btn-info mt-1">Show All</button>&nbsp;
                                    <button class="btn btn-info mt-1">Clear Selection</button>&nbsp;
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                            <table id="customTable" datatable class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Select</th>
                                                        <th>PackageName</th>
                                                        <th>OrganizationName</th>
                                                        <th>Amount</th>
                                                        <th>Active Yes/No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr  *ngIf="isTableLoad">
                                                        <td *ngIf="table_data?.length == 0" colspan="6" class="no-data-available"><b>No Data, Please Click Load Button!</b></td>
                                                    </tr>  -->
                                                    <!-- <tr *ngFor="let item of table_data">
                                                        <td>{{item.wardNumber}}</td>
                                                        <td>
                                                            <span class="float-right">
                                                                <button id="edit" type="button" (click)="openModal(editModal, item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                                <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger" *ngIf="!isUserRole"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    

                </form>


                

            </div>
        </div>
    </div>
</div>
