
.navbar-nav .nav-item.active,
.navbar-nav .nav-item:hover, .dropdown-item:hover,
.navbar-nav .nav-item:hover .nav-link b {
    /* background: #ffa144; */
    color: #ffffff;
    background: #eaaa19;
    outline: 0;
}


b{
    color: black;
}



/* .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
} */



