<div class="">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> Bill Details Sheet </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="row">
                        <div class="ng-autocomplete form-group col-md-3 col-sm-3">
                            <label for="name">Patient Name </label>
                            <ng-autocomplete 
                              name="patientName"
                              [data]="petientData"
                              [searchKeyword]="keyword"
                              (selected)='selectEvent($event)'
                              (inputChanged)='onChangeSearch($event)'
                              (inputFocused)='onFocused($event)'
                              [itemTemplate]="itemTemplate">                                 
                            </ng-autocomplete>
                            
                            <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                            </ng-template>
                            </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">UHID </label>
                            <input type="text" class="form-control" name="uhid" (keyup)="onKeyUHID($event)" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">IPD No </label>
                            <input type="text" class="form-control" name="ipdNo" [(ngModel)]="form.ipdNo"  #ipdNo="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && ipdNo.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Date</label>
                            <input type="date" class="form-control" name="date" [(ngModel)]="form.date"  #date="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                           <button class="btn btn-info">Daily TestName</button>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Organization</label>
                            <input type="text" class="form-control" name="organization" [(ngModel)]="form.organization"  #organization="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && organization.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">HighRisk </label>
                            <input type="text" class="form-control" name="highRisk" [(ngModel)]="form.highRisk"  #highRisk="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && highRisk.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Running Organization </label>
                            <input type="text" class="form-control" name="runningOrganization" [(ngModel)]="form.runningOrganization"  #runningOrganization="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && runningOrganization.invalid">
                                Required Field !
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Running Class </label>
                            <!-- <input type="text" class="form-control" name="runningClass" [(ngModel)]="form.runningClass"  #runningClass="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && runningClass.invalid">
                                Required Field !
                            </div> -->
                            <select class="form-control" [(ngModel)]="form.runningClass" #runningClass="ngModel" required name="runningClass">
                                <option>
                                    Please Select
                                </option>
                                <option *ngFor="let o of ClassList" [ngValue]="o.name" style="color: black;">
                                    {{o.className}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Emergency </label>
                            <input type="text" class="form-control" name="emergency" [(ngModel)]="form.emergency"  #emergency="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && emergency.invalid">
                                Required Field !
                            </div>
                        </div>

            

                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="card card-body overflow-auto">
                            <div class="form-group row">

                                <div class="col-md-12 col-sm-12">
                                    <section class="card-body border" *ngFor="let dataItem of DetailsList; let i = index;">
                                        <div class="row">
                                            <div class="col-6">
                                                <h4>List : {{i + 1}}</h4>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i,dataItem.id)">&nbsp;-&nbsp;</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-2 col-sm-2">
                                                <label for="name">Date </label>
                                                <input type="date" class="form-control" name="date" [(ngModel)]="form.date"  #date="ngModel" />
                                                <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                                    Required Field !
                                                </div>
                                            </div>
            
                                            <div class="form-group col-md-2 col-sm-2">
                                                <label for="name">Time </label>
                                                <input type="time" class="form-control" name="time" [(ngModel)]="form.time"  #time="ngModel" />
                                                <div class="text-danger" role="alert" *ngIf="f.submitted && time.invalid">
                                                    Required Field !
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Particulars</label>
                                                <select class="form-control" [(ngModel)]="dataItem.testName" [ngModelOptions]="{standalone: true}" name="testName">
                                                    <option *ngFor="let r of category" [ngValue]="r.id" style="color: black;">
                                                        {{r.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Procedure Doctor</label>
                                                <ng-autocomplete 
                                                      name="procedureDoctor"
                                                      [data]="doctorData"
                                                      [searchKeyword]="keyword"
                                                      (selected)='selectEventDoctor($event)'
                                                      (inputChanged)='onChangeSearchDoctor($event)'
                                                      (inputFocused)='onFocusedDoctor($event)'
                                                      [itemTemplate]="doctoreName">                                 
                                                    </ng-autocomplete>
                                                    
                                                    <ng-template #doctoreName let-item>
                                                    <a [innerHTML]="item.name"></a>
                                                    </ng-template>
                                                <!-- <select class="form-control" [(ngModel)]="dataItem.procedureDoctor" [ngModelOptions]="{standalone: true}" name="procedureDoctor">
                                                    <option *ngFor="let r of category" [ngValue]="r.id" style="color: black;">
                                                        {{r.name}}
                                                    </option>
                                                </select> -->
                                            </div>
                                            <div class="col-md-2">
                                                <label for="propertyTax">Qty</label>
                                                <input (keyup)="calculateTotal(i)" type="number" [ngModelOptions]="{standalone: true}" class="form-control" name="qty" [(ngModel)]="dataItem.qty" />
                                            </div>
                                            <div class="col-md-2">
                                                <label for="cleaningTax">Rate</label>
                                                <input (keyup)="calculateTotal(i)" type="number" [ngModelOptions]="{standalone: true}" name="rate" [(ngModel)]="dataItem.rate" class="form-control">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="amount">Amount </label>
                                                <input (keyup)="calculateTotal(i)" type="number" [ngModelOptions]="{standalone: true}" name="amount" [(ngModel)]="dataItem.amount" class="form-control">
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <button type="button" class="btn btn-success mb-2 mt-2" (click)="addRow()">+</button>
                                    </section>
                                </div>                    
                            </div>
                        </div>
                    </div>
                                <div class="row">
                                    <div class="card card-body overflow-auto">
                                        <div class="row">                               
                                            <div class="form-group col-md-12 col-sm-12">
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-sm-6">
                                                        <div class="row">

                                                            <div class="form-group col-md-3 col-sm-3">
                                                                <button class="btn btn-info">New</button>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-3">
                                                                <button class="btn btn-info">Save:F1</button>
                                                            </div>
                                
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6">
                                                        <div class="row">
                                                            
                                                            <div class="form-group col-md-4 col-sm-4">
                                                                <label for="name">NetTotal</label>
                                                                <input type="text" class="form-control" name="nettotal" [(ngModel)]="form.nettotal" #nettotal="ngModel" />
                                                                <div class="text-danger" role="alert" *ngIf="f.submitted && nettotal.invalid">
                                                                    Required Field !
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group col-md-4 col-sm-4">
                                                                <label for="name">Advance</label>
                                                                <input type="text" class="form-control" name="advance" [(ngModel)]="form.advance" #advance="ngModel" />
                                                                <div class="text-danger" role="alert" *ngIf="f.submitted && advance.invalid">
                                                                    Required Field !
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-md-4 col-sm-4">
                                                                <label for="name">Balance</label>
                                                                <input type="text" class="form-control" name="balance" [(ngModel)]="form.balance" #balance="ngModel" />
                                                                <div class="text-danger" role="alert" *ngIf="f.submitted && balance.invalid">
                                                                    Required Field !
                                                                </div>
                                                            </div>
                                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                        </div>
                                    </div>
                                </div>

                    

                </form>


                <div class="row">
                    <div class="card card-body overflow-auto">
                        <div class="form-group row">

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Patient Name </label>
                                <input type="text" class="form-control" name="patientName" [(ngModel)]="form.patientName"  #patientName="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && patientName.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">IPD No </label>
                                <input type="text" class="form-control" name="ipdNo" [(ngModel)]="form.ipdNo"  #ipdNo="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && ipdNo.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">UHID </label>
                                <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                    Required Field !
                                </div>
                            </div>
                            
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Date </label>
                                <input type="date" class="form-control" name="date" [(ngModel)]="form.date"  #date="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                    Required Field !
                                </div>
                            </div>
                           
                            <div class="form-group col-md-3 col-sm-3">
                                <button class="btn btn-info mt-1">Show All</button> 
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <button class="btn btn-info mt-1">Clear Selection</button>
                            </div>

                            

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
