<div class="">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> Test Master IPD  </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>

                    <input type="hidden" name="id" [(ngModel)]="form.id" #id="ngModel"> 
                    <h2 *ngIf="isEdit" style="color: orangered;"><b>Edit Mode</b></h2>


                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-body overflow-auto">
                                <div class="form-group row">
                                    
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Test No. </label>
                                        <input type="text" class="form-control" name="testNo" [(ngModel)]="form.testNo" disabled #testNo="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && testNo.invalid">
                                            Required Field !
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Super Group </label>
                                        <select class="form-control" [(ngModel)]="form.superGroup" #superGroup="ngModel" required name="superGroup">
                                            <option *ngFor="let o of SubGroupList" [ngValue]="o.id" style="color: black;">
                                                {{o.subGroup}}
                                            </option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && superGroup.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Group </label>
                                        <select class="form-control" [(ngModel)]="form.groupName" #groupName="ngModel" required name="groupName">
                                            <option *ngFor="let o of GroupList" [ngValue]="o.id" style="color: black;">
                                                {{o.groupName}}
                                            </option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && group.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Sub Department </label>
                                        <select class="form-control" [(ngModel)]="form.subDepartment" #subDepartment="ngModel" required name="subDepartment">
                                            <option *ngFor="let o of SubDepartmentList" [ngValue]="o.id" style="color: black;">
                                                {{o.subDept}}
                                            </option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && subDepartment.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Grade </label>
                                        <select class="form-control" name="grade" [(ngModel)]="form.grade" required #grade="ngModel">
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                            <option value="E">E</option>
                                            <option value="F">F</option>
                                            <option value="G">G</option>
                                            <option value="H">H</option>
                                            <option value="No Grade">No Grade</option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && grade.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Test Name </label>
                                        <input type="text" class="form-control" name="testName" [(ngModel)]="form.testName" required #testName="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && testName.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Test Name Print </label>
                                        <input type="text" class="form-control" name="testNamePrint" [(ngModel)]="form.testNamePrint" required #testNamePrint="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && testNamePrint.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Organization Name </label>
                                        <select class="form-control" [(ngModel)]="form.organizationName" #organizationName="ngModel" required name="organizationName">
                                            <option *ngFor="let o of OrganizationList" [ngValue]="o.id" style="color: black;">
                                                {{o.organization}}
                                            </option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && organizationName.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Daily Y/N </label>
                                        <select class="form-control" name="dailyYn" [(ngModel)]="form.dailyYn" #dailyYn="ngModel">
                                            <option value="Y">Y</option>
                                            <option value="N">N</option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && dailyYn.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Daily Qty </label>
                                        <select class="form-control" name="dailyQty" [(ngModel)]="form.dailyQty" #dailyQty="ngModel">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && dailyQty.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Cost Rate</label>
                                        <input type="text" class="form-control" name="costRate" [(ngModel)]="form.costRate"  #costRate="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && costRate.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-md-4 col-sm-4">
                                        <button class="btn btn-info mt-1" disabled>Make All Rates as General Rate</button>    
                                    </div>
    
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">Automatic On Final IPD Bill</label>
                                        <select class="form-control" name="automaticOnFinalIPDBill" [(ngModel)]="form.automaticOnFinalIPDBill" #automaticOnFinalIPDBill="ngModel">
                                            <option value="Y">Y</option>
                                            <option value="N">N</option>
                                        </select>
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && automaticOnFinalIPDBill.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-body overflow-auto">
                                <div class="form-group row">
                                    
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name"> GENERAL </label>
                                        <input type="text" class="form-control" name="general" [(ngModel)]="form.general"  #general="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && general.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">NICU </label>
                                        <input type="text" class="form-control" name="nicu" [(ngModel)]="form.nicu"  #nicu="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && nicu.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name">SEMI SPECIAL </label>
                                        <input type="text" class="form-control" name="semiSpecial" [(ngModel)]="form.semiSpecial"  #semiSpecial="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && semiSpecial.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name"> SPECIAL </label>
                                        <input type="text" class="form-control" name="special" [(ngModel)]="form.special"  #special="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && special.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name"> DELUXE </label>
                                        <input type="text" class="form-control" name="deluxe" [(ngModel)]="form.deluxe"  #deluxe="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && deluxe.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name"> EXECUTIVE </label>
                                        <input type="text" class="form-control" name="executive" [(ngModel)]="form.executive"  #executive="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && executive.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name"> ICU </label>
                                        <input type="text" class="form-control" name="icu" [(ngModel)]="form.icu"  #icu="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && icu.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label for="name"> EMERGENCY </label>
                                        <input type="text" class="form-control" name="emergency" [(ngModel)]="form.emergency"  #emergency="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && emergency.invalid">
                                            Required Field !
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12">
                        <input type="button" value="New" class="btn btn-info mt-1" (click)="onNew()">&nbsp;
                        <button class="btn btn-info mt-1" type="submit">Save:F1</button> &nbsp;
                        <button class="btn btn-secondary mt-1">Create New Form Existing</button>&nbsp;
                        <button class="btn btn-info mt-1">Delete</button>&nbsp;
                    </div>

                </form>


                <div class="row">

                    <div class="form-group col-md-12 col-sm-12">
                        <div class="card card-body overflow-auto">
                            <div class="form-group row">

                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name"> Sub Group </label>
                                    <input type="text" class="form-control" name="subGroup" [(ngModel)]="form.subGroup"  #subGroup="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && subGroup.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Group </label>
                                    <input type="text" class="form-control" name="group" [(ngModel)]="form.group"  #group="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && group.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Test Name </label>
                                    <input type="text" class="form-control" name="testName" [(ngModel)]="form.testName"  #testName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && testName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name"> Test Code </label>
                                    <input type="text" class="form-control" name="testCode" [(ngModel)]="form.testCode"  #testCode="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && testCode.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name"> Organization Name </label>
                                    <input type="text" class="form-control" name="organizationName" [(ngModel)]="form.organizationName"  #organizationName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && organizationName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                              
                                <div class="form-group col-md-12 col-sm-12">
                                    <button class="btn btn-info mt-1">Show</button>&nbsp;
                                    <button class="btn btn-info mt-1">Print</button>&nbsp;
                                    <button class="btn btn-info mt-1">Clear Selection</button>&nbsp;
                                </div>


                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                            <table id="customTable" datatable class="table  table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>Edit</th>
                                                        <th>TestNo</th>
                                                        <th>Test Name</th>
                                                        <th>Rate</th>
                                                        <th>Organization</th>
                                                        <th>SubDept</th>
                                                        <th>SubGroup</th>
                                                        <th>Group</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of table_data">
                                                        <td>
                                                            <span class="float-right">
                                                                <button id="edit" type="button" (click)="onEdit(item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                                <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </td>
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.testName}}</td>
                                                        <td>{{item.rate}}</td>
                                                        <td>{{item.organizationName}}</td>
                                                        <td>{{item.subDepartment}}</td>
                                                        <td>{{item.subGroup}}</td>
                                                        <td>{{item.groupName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>
