<div class="">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> Doctor Hours Absence Entry  </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    
                    
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-body overflow-auto">
                                <div class="form-group row">
                                    
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Month</label>
                                    <input type="text" class="form-control" name="month" [(ngModel)]="form.month"  #month="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && month.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Year</label>
                                    <input type="text" class="form-control" name="year" [(ngModel)]="form.year"  #year="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && year.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <label for="name">Doctor Name</label>
                                    <input type="text" class="form-control" name="doctorName" [(ngModel)]="form.doctorName"  #doctorName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && doctorName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">No.Of Monthly Hours</label>
                                    <input type="text" class="form-control" name="monthlyHours" [(ngModel)]="form.monthlyHours"  #monthlyHours="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && monthlyHours.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Amount/Hours</label>
                                    <input type="text" class="form-control" name="amountHours" [(ngModel)]="form.amountHours"  #amountHours="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && amountHours.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">No.Of Days Worked</label>
                                    <input type="text" class="form-control" name="daysWorked" [(ngModel)]="form.daysWorked"  #daysWorked="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && daysWorked.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Amount/Hours</label>
                                    <input type="text" class="form-control" name="amountHours" [(ngModel)]="form.amountHours"  #amountHours="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && amountHours.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <button class="btn btn-info mt-1">New</button>&nbsp;
                                    <button class="btn btn-info mt-1">Save :F1</button>&nbsp;
                                    <button class="btn btn-info mt-1">Delete</button>&nbsp;
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="card card-body overflow-auto">
                                        <div class="form-group row">

                                            <div class="form-group col-md-4 col-sm-4">
                                                <label for="name">Doctor Name</label>
                                                <input type="text" class="form-control" name="doctorName" [(ngModel)]="form.doctorName"  #doctorName="ngModel" />
                                                <div class="text-danger" role="alert" *ngIf="f.submitted && doctorName.invalid">
                                                    Required Field !
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 col-sm-4">
                                                <label for="name">Month</label>
                                                <input type="text" class="form-control" name="month" [(ngModel)]="form.month"  #month="ngModel" />
                                                <div class="text-danger" role="alert" *ngIf="f.submitted && month.invalid">
                                                    Required Field !
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 col-sm-4">
                                                <button class="btn btn-info mt-1">Show All</button>&nbsp;
                                            </div>
                                            <div class="form-group col-md-4 col-sm-4">
                                                <button class="btn btn-info mt-1">Clear Selection</button>&nbsp;
                                            </div>


                                            <div class="form-group col-md-12 col-sm-12">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                                        <table id="customTable" datatable class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>EDIT</th>
                                                                    <th>Insurance Company</th>
                                                                    <th>Remarks</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- <tr  *ngIf="isTableLoad">
                                                                    <td *ngIf="table_data?.length == 0" colspan="6" class="no-data-available"><b>No Data, Please Click Load Button!</b></td>
                                                                </tr>  -->
                                                                <!-- <tr *ngFor="let item of table_data">
                                                                    <td>{{item.wardNumber}}</td>
                                                                    <td>
                                                                        <span class="float-right">
                                                                            <button id="edit" type="button" (click)="openModal(editModal, item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                                            <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger" *ngIf="!isUserRole"><i class="fa fa-trash"></i></button>
                                                                        </span>
                                                                    </td>
                                                                </tr> -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    

                </form>


                

            </div>
        </div>
    </div>
</div>
