<div class="">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> Payment / Refund </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="row">

                        <div class="form-group col-md-12 col-sm-12">
                            <div class="row">

                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Date </label>
                                    <input type="date" class="form-control" name="date" [(ngModel)]="form.date"  #date="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Department </label>
                                    <input type="text" class="form-control" name="department" [(ngModel)]="form.department"  #department="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && department.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Paid To </label>
                                    <input type="text" class="form-control" name="paidTo" [(ngModel)]="form.paidTo"  #paidTo="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && paidTo.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">UHID </label>
                                    <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">IPD No </label>
                                    <input type="text" class="form-control" name="pidNo" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Amount </label>
                                    <input type="text" class="form-control" name="amount" [(ngModel)]="form.amount"  #amount="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && amount.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Payment No </label>
                                    <input type="text" class="form-control" name="paymentNo" [(ngModel)]="form.paymentNo"  #paymentNo="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && paymentNo.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Amount Words </label>
                                    <input type="text" class="form-control" name="amountWords" [(ngModel)]="form.amountWords"  #amountWords="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && amountWords.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Paid From </label>
                                    <input type="text" class="form-control" name="paidFrom" [(ngModel)]="form.paidFrom"  #paidFrom="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && paidFrom.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Narration </label>
                                    <input type="text" class="form-control" name="narration" [(ngModel)]="form.narration"  #narration="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && narration.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Cash/Queue </label>
                                    <input type="text" class="form-control" name="cashQueue" [(ngModel)]="form.cashQueue"  #cashQueue="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && cashQueue.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">TDS </label>
                                    <input type="text" class="form-control" name="tds" [(ngModel)]="form.tds"  #tds="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && tds.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">Payment/Refund </label>
                                    <input type="text" class="form-control" name="paymentRefund" [(ngModel)]="form.paymentRefund"  #paymentRefund="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && paymentRefund.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-4">
                                    <label for="name">User Name </label>
                                    <input type="text" class="form-control" name="userName" [(ngModel)]="form.userName"  #userName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && userName.invalid">
                                        Required Field !
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12">
                            <button class="btn btn-info mt-1">New</button>&nbsp;
                            <button class="btn btn-info mt-1">Save:F1</button>&nbsp;
                            <button class="btn btn-info mt-1">Delete</button>&nbsp;
                            <button class="btn btn-info mt-1">Print</button>&nbsp;
                            <button class="btn btn-info mt-1">Create New From Existing</button>&nbsp;
                            <button class="btn btn-info mt-1">Coorporate Payment(Supplier Wise)</button>&nbsp;
                        </div>
                    

                    </div>

                         
                    
                    <div class="row">
                        <div class="card card-body overflow-auto">
                            <div class="form-group row">
    
  
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Paid To </label>
                                    <input type="text" class="form-control" name="paidTo" [(ngModel)]="form.paidTo"  #paidTo="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && paidTo.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">Paid From </label>
                                    <input type="text" class="form-control" name="paidFrom" [(ngModel)]="form.paidFrom"  #paidFrom="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && paidFrom.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <button class="btn btn-info">Show All</button>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <button class="btn btn-info">Print</button>
                                </div>  
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">From Date </label>
                                    <input type="text" class="form-control" name="fromDate" [(ngModel)]="form.fromDate"  #fromDate="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && fromDate.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <label for="name">To Date </label>
                                    <input type="text" class="form-control" name="toDate" [(ngModel)]="form.toDate"  #toDate="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && toDate.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <button class="btn btn-info">Show</button>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <button class="btn btn-warning">RTGS Payment Show</button>
                                </div>
                                <div class="form-group col-md-3 col-sm-3">
                                    <button class="btn btn-info">Clear Selection</button>
                                </div>


    
                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                            <table id="customTable" datatable class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Select</th>
                                                        <th>Print</th>
                                                        <th>Receipt No</th>
                                                        <th>Paid To</th>
                                                        <th>Receipt Date</th>
                                                        <th>Amount</th>
                                                        <th>Paid From</th>
                                                        <th>IPD No</th>
                                                        <th>Against</th>
                                                        
                                                        <th>...</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr  *ngIf="isTableLoad">
                                                        <td *ngIf="table_data?.length == 0" colspan="6" class="no-data-available"><b>No Data, Please Click Load Button!</b></td>
                                                    </tr>  -->
                                                    <!-- <tr *ngFor="let item of table_data">
                                                        <td>{{item.wardNumber}}</td>
                                                        <td>{{item.receiptNumber}}</td>
                                                        <td>{{item.propertyNumber}}/{{item.propertyNumber1}}</td>
                                                        <td>{{item.date}}</td>
                                                        <td>{{item.taxPayerName}}</td>
                                                        <td>
                                                            <span class="float-right">
                                                                <button id="edit" type="button" (click)="openModal(editModal, item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                                <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger" *ngIf="!isUserRole"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                    

                    

                </form>


                

            </div>
        </div>
    </div>
</div>
