<div class="container " *ngIf="showAdminBoard">
    <!-- <h2 class="m-0 text-dark text-center"><strong> નવસારી વિજલપોર નગરપાલિકા</strong></h2>
    <div class="row mt-4" style="justify-content: center;"> -->

        <!-- <ng-container *ngFor="let village of VillageList; let i = index;">
            <div class="col-md-3 p-2" *ngIf="village.id !=10">
                <div class=" card shadow bg-white rounded">
                    <img class="card-img-top" src="../../assets/img/{{village.id}}.jpeg" alt="Image NotFound">
                    <div class="card-body">
                        <a routerLink="/admin-board" class="text-center" [queryParams]="{query: village.id,query2: village.village_name}" routerLinkActive="active">
                            <h6 class="" style="border-bottom: 1px solid;">{{village.village_name}}</h6>
                        </a>
                    </div>
                </div>
            </div>
        </ng-container> -->

    <!-- </div> -->
</div>