<div class="container">
    <div class="col-md-12 mt-3">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <b style="font-size: 18px;"> CASH DUE RECEIPT </b>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="row">


                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Date </label>
                            <input type="text" class="form-control" name="date" [(ngModel)]="form.date"  #date="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                Required Field !
                            </div>
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Dept </label>
                            <input type="text" class="form-control" name="dept" [(ngModel)]="form.dept"  #dept="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && dept.invalid">
                                Required Field !
                            </div>
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">UHID</label>
                            <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                Required Field !
                            </div>
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Receipt No</label>
                            <input type="text" class="form-control" name="receiptNo" [(ngModel)]="form.receiptNo"  #receiptNo="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && receiptNo.invalid">
                                Required Field !
                            </div>
                        </div>


                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Bill No </label>
                            <input type="text" class="form-control" name="billNo" [(ngModel)]="form.billNo"  #billNo="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && billNo.invalid">
                                Required Field !
                            </div>
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label for="name">Received Form </label>
                            <input type="text" class="form-control" name="receivedForm" [(ngModel)]="form.receivedForm"  #receivedForm="ngModel" />
                            <div class="text-danger" role="alert" *ngIf="f.submitted && receivedForm.invalid">
                                Required Field !
                            </div>
                        </div>

       
                    </div>
                    <div class="row">
                        <div class="card card-body overflow-auto">
                            <div class="row">

                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="name">Patient Name </label>
                                    <input type="text" class="form-control" name="patientName" [(ngModel)]="form.patientName"  #patientName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && patientName.invalid">
                                        Required Field !
                                    </div>
                                </div>

                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="name">Dept </label>
                                    <input type="text" class="form-control" name="dept" [(ngModel)]="form.dept"  #dept="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && dept.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-sm-2">
                                    <label for="name">UHID </label>
                                    <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                        Required Field !
                                    </div>
                                </div>
                               

                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <!-- [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                                            <table id="customTable" datatable class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Select</th>
                                                        <th>Patient Name</th>
                                                        <th>UHID</th>
                                                        <th>Bill No</th>
                                                        <th>Dept</th>
                                                        <th>SubDept</th>
                                                        <th>NetTotal</th>
                                                        <th>PaidAmount</th>
                                                        <th>Due</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr  *ngIf="isTableLoad">
                                                        <td *ngIf="table_data?.length == 0" colspan="6" class="no-data-available"><b>No Data, Please Click Load Button!</b></td>
                                                    </tr>  -->
                                                    <!-- <tr *ngFor="let item of table_data">
                                                        <td>{{item.wardNumber}}</td>
                                                        <td>{{item.receiptNumber}}</td>
                                                        <td>{{item.propertyNumber}}/{{item.propertyNumber1}}</td>
                                                        <td>{{item.date}}</td>
                                                        <td>{{item.taxPayerName}}</td>
                                                        <td>
                                                            <span class="float-right">
                                                                <button id="edit" type="button" (click)="openModal(editModal, item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                                <button id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger" *ngIf="!isUserRole"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                  
                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">Amount </label>
                                        <input type="text" class="form-control" name="amount" [(ngModel)]="form.amount"  #amount="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && amount.invalid">
                                            Required Field !
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">Amount Words </label>
                                        <input type="text" class="form-control" name="amountWords" [(ngModel)]="form.amountWords"  #amountWords="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && amountWords.invalid">
                                            Required Field !
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">To Account </label>
                                        <input type="text" class="form-control" name="toAccount" [(ngModel)]="form.toAccount"  #toAccount="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && toAccount.invalid">
                                            Required Field !
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">Narration </label>
                                        <input type="text" class="form-control" name="narration" [(ngModel)]="form.narration"  #narration="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && narration.invalid">
                                            Required Field !
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">Cash / Cheque </label>
                                        <input type="text" class="form-control" name="cashCheque" [(ngModel)]="form.cashCheque"  #cashCheque="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && cashCheque.invalid">
                                            Required Field !
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-3">
                                        <label for="name">As Part/ Full/ Advanced </label>
                                        <input type="text" class="form-control" name="asPart" [(ngModel)]="form.asPart"  #asPart="ngModel" />
                                        <div class="text-danger" role="alert" *ngIf="f.submitted && asPart.invalid">
                                            Required Field !
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <button class="btn btn-info mt-1">New</button> &nbsp;
                                    <button class="btn btn-info mt-1">Save:F1</button> &nbsp;
                                    <button class="btn btn-info mt-1">Delete</button> &nbsp;
                                    <button class="btn btn-info mt-1">Print:F2</button> &nbsp;
                                </div>

                            </div>
                        </div>
                    </div>

                    

                </form>

               
                

                <div class="row">
                    <div class="card card-body overflow-auto">
                        <div class="form-group row">

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Received From </label>
                                <input type="text" class="form-control" name="receivedFrom" [(ngModel)]="form.receivedFrom"  #receivedFrom="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && receivedFrom.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Date </label>
                                <input type="text" class="form-control" name="date" [(ngModel)]="form.date"  #date="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && date.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">UHID </label>
                                <input type="text" class="form-control" name="uhid" [(ngModel)]="form.uhid"  #uhid="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && uhid.invalid">
                                    Required Field !
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Method Of Payment </label>
                                <input type="date" class="form-control" name="methodOfPayment" [(ngModel)]="form.methodOfPayment"  #methodOfPayment="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && methodOfPayment.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Against </label>
                                <input type="text" class="form-control" name="against" [(ngModel)]="form.against"  #against="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && against.invalid">
                                    Required Field !
                                </div>
                            </div>
                            
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Dept </label>
                                <input type="text" class="form-control" name="dept" [(ngModel)]="form.dept"  #dept="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && dept.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">To Account </label>
                                <input type="text" class="form-control" name="toAccount" [(ngModel)]="form.toAccount"  #toAccount="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && toAccount.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Bill No </label>
                                <input type="text" class="form-control" name="billNo" [(ngModel)]="form.billNo"  #billNo="ngModel" />
                                <div class="text-danger" role="alert" *ngIf="f.submitted && billNo.invalid">
                                    Required Field !
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <button class="btn btn-info mt-1">Show All</button> 
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <button class="btn btn-info mt-1">Clear Selection</button>
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <button class="btn btn-info mt-1">Cash Due Report</button> 
                            </div>

                            <div class="form-group col-md-3 col-sm-3">
                                <button class="btn btn-info mt-1">Print</button> 
                            </div>

                            

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
